* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu-large {
    margin: 15px;
}

.menu-small {
    margin: 5px;
}

.set-menu {
    justify-content: space-between;
}

.navbar-light .navbar-nav .nav-item a {
    color: black;
}

.screen-one {
    display: flex;
    justify-content: center;
}

.image-drive {
    background-image: url('../assets/images/taxi.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: flex-end;
}

.register {
    align-self: center;
}

.set-register {
    background-color: #F6BD00;
    color: #FFF;
    display: flex;
    flex-flow: column;
    padding: 35px 0 50px 35px;
    width: 500px;
}

.set-register h3 {
    font-size: 2rem;
    font-weight: 600;
}

.set-register p.set-padding {
  padding-top: 25px;
}

.set-register span {
    margin-left: 20px;
}

.set-register .btn-width {
    width: fit-content;
}

.lab-section-1-box {
  position: absolute;
  top: 200px;
  right: 15px;
}

.lab-text-lines {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.lab-line-1, .lab-line-2 {
  width: 130px;
  border: 0.5px solid white;
}

.line-text {
  font-size: 15px;
  width: 45px;
}


.line {
    width: 40px;
    margin: 5px auto;
    position: relative;
}

.light::before {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #FFF;
    position: absolute;
    top: 40%;
    left: 50px;
}

.line p {
    font-size: 15px;
    width: 45px;
}

.light::after {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #FFF;
    position: absolute;
    top: 40%;
    right: 50px;
}

.screen-two {
    background-color: #F6BD00;
    padding: 40px 40px 40px 0;
}

.app-set {
    border: 1px solid white;
    border-left: none;
    width: 85%;
    display: flex;
}

.app-text {
    color: white;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.app-text h3 {
    font-size: 1.85rem;
    font-weight: 600;
    padding-top: 45px;
}

.app-text p {
    font-size: 20px;
}

.image-cel {
    padding: 5% 15% 5% 10%;
}

.driver {
    background-image: url("../assets/images/conduce.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: flex-end;
}

.drive-text {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 35%;
    padding: 0 20px 0 40px;
}

.drive-text h3 {
    font-size: 1.85rem;
    font-weight: 700;
}

.drive-text p {
    font-size: large;
}

.drive .btn-width-drive {
    color: white;
    width: fit-content;
}

.route-box {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.route-box h3 {
  font-size: 2rem;
  font-weight: 600;
}

.route.box p {
  font-size: larger;
}

.route {
    background-color: #F6BD00;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 55px;
}

.text-set-local {
  padding-bottom: 40px;
}

.container-input {
    display: flex;
    flex-direction: column;
}

.navigation,
.local {
    display: flex;
    flex-direction: row;
    padding: 15px 0px;
}

.icon-set {
    padding-right: 25px;
}

.icon-set-local {
    padding-right: 20px;
}

.btn-set {
  width: fit-content;
  align-self: center;
}

.map {
    border: 1px solid white;
    padding: 15px;
}

.lab-footer-line-1, .lab-footer-line-2 {
  border: 1px solid white;
  width: 83%;
}

.footer-list-element {
  margin-bottom: 15px;
}

.footer-link, .social-link {
  text-decoration: none;
  font-size: 15px;
  color: white;
  margin: 0px 5px;
}

.footer-link:hover, .social-link:hover {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

.set-icon-store {
  align-self: flex-end;
}

.store-apple {
  margin-bottom: 20px;
}