* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.menu-large {
  margin: 15px;
}

.menu-small {
  margin: 5px;
}

.set-menu {
  justify-content: space-between;
}

.navbar-light .navbar-nav .nav-item a {
  color: black;
}

.screen-one {
  display: flex;
  justify-content: center;
}

.image-drive {
  background-image: url('../assets/images/taxi.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-end;
}

.register {
  align-self: center;
}

.set-register {
  background-color: #F6BD00;
  color: #FFF;
  display: flex;
  flex-flow: column;
  padding: 35px 0 50px 35px;
  width: 500px;
}

.set-register h3 {
  font-size: 2rem;
  font-weight: 600;
}

.set-register p.set-padding {
  padding-top: 25px;
}

.set-register span {
  margin-left: 20px;
}

.set-register .btn-width {
  width: fit-content;
}

.lab-section-1-box {
  position: absolute;
  top: 200px;
  right: 15px;
}

.lab-text-lines {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.lab-line-1,
.lab-line-2 {
  width: 130px;
  border: 0.5px solid white;
}

.line-text {
  font-size: 15px;
  width: 45px;
}

.screen-two {
  background-color: #F6BD00;
  padding: 40px 40px 40px 0;
}

.app-set {
  border: 1px solid white;
  border-left: none;
  width: 85%;
  display: flex;
}

.app-text {
  color: white;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.app-text h3 {
  font-size: 1.85rem;
  font-weight: 600;
  padding-top: 45px;
}

.app-text p {
  font-size: 20px;
}

.image-cel {
  padding: 5% 15% 5% 10%;
}

.image-cel img {
  width: 300px;
}

.driver {
  background-image: url("../assets/images/conduce.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: flex-end;
}

.drive-text {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 35%;
  padding: 0 20px 0 40px;
}

.drive-text h3 {
  font-size: 1.85rem;
  font-weight: 700;
}

.drive-text p {
  font-size: large;
}

.drive .btn-width-drive {
  color: white;
  width: fit-content;
}

.route-box {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.route-box h3 {
  font-size: 2rem;
  font-weight: 600;
}

.route.box p {
  font-size: larger;
}

.route {
  background-color: #F6BD00;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 55px;
  width: 101%;
}

.text-set-local {
  padding-bottom: 40px;
}

.container-input {
  display: flex;
  flex-direction: column;
}

.navigation,
.local {
  display: flex;
  flex-direction: row;
  padding: 15px 0px;
}

.text-set input[type="text"] {
  background-color: #F6BD00;
  border-color: white;
  color: white;
  border-radius: 8px;
}

.text-set input[type="text"]::placeholder {
  color: white;
}

.icon-set {
  padding-right: 25px;
}

.icon-set-local {
  padding-right: 20px;
}

.btn-set {
  width: fit-content;
  align-self: center;
}

.map {
  border: 1px solid white;
  padding: 15px;
}

.map-google {
  width: 600px;
  height: 450px;
}

.lab-footer-line-1,
.lab-footer-line-2 {
  border: 1px solid white;
  width: 83%;
}

.footer-list-element {
  margin-bottom: 15px;
}

.footer-link,
.social-link {
  text-decoration: none;
  font-size: 15px;
  color: white;
  margin: 0px 5px;
}

.footer-link:hover,
.social-link:hover {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

.set-icon-store {
  align-self: flex-end;
}

.store-apple {
  margin-bottom: 20px;
}

.show-mobile {
  display: none;
}

.download-apple,
.download-gplay {
  width: 80%;
}

.mobile-center {
  display: flex;
}

.set-icon-store {
  align-self: center;
}

.items-end {
  align-items: flex-end;
}

@media screen and (max-width: 576px) {

  .set-register {
    width: 100%;
    padding-right: 2%;
  }

  .set-padding {
    font-size: 1.6em;
  }

  .set-register h3,
  .visible-desktop,
  .mobile,
  #show-desktop {
    display: none;
  }

  .show-mobile {
    display: block;
  }

  .screen-two {
    display: flex;
    flex-direction: column;
  }

  .color-text {
    color: white;
    align-self: center;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .txt {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .app-set {
    border: 1px solid white;
    flex-direction: column;
    margin-left: 15%;
  }

  .app-text {
    display: none;
  }

  .image-cel img {
    width: 100%;
  }

  .drive-text {
    width: 100%;
    padding: 0 20px 0 40px;
  }

  .drive-text h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .route {
    width: 104%;
  }

  .route-box {
    width: 100%;
    padding: 5%;
  }

  .map-google {
    width: 100%;
    height: 100%;
  }

  .mobile-top {
    align-items: flex-start;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0 10% 0 10%;
  }

  .mobile-center {
    display: flex;
  }
  
  .set-icon-store {
    align-self: center;
  }
}